table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  text-align: center;
}

td {
  padding: 2px;
}

.selected {
  background-color: grey;
}

.select {
  background-color: lightblue;
}

.remove {
  background-color: red;
}

.edit {
  background-color: blue;
  color: white;
}
